body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 1220px;
    padding: 0 40px;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}
