.catalog__title-main {
  font-family: "Oswald" , "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 41px;
}

.catalog__title {
  font-family: "Oswald" , "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.catalog__products-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog__description {
  font-family: "Lato" , "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #444444;
  display: grid;
  grid-template-columns: repeat(2, 80px);
}

.catalog__products-title {
  font-family: "Oswald" , "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.catalog__products-description {
  font-family: "Lato" , "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-bottom: 21px;
}

.catalog__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
  }
}
