.contacts {
  position: relative;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
     padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}

.contacts__title {
  font-family: "Oswald" , "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #111111;
  width: 140px;
  text-transform: uppercase;
}

.contacts__adress {
  font-family: "Lato" , "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #444444;
  width: 140px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.contacts iframe {
  margin: 0 auto;
  border: none;
  display: block;
  width: 100%;
}
