.example__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__list-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__list-description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.example__description--result {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    width: 134px;
  }
}

.example__item {
  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
  }
}

.example__content-container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 436px;
    height: 317px;
    align-items: center;
    justify-content: space-between;
  }
}
