.form-feedback__content-wrapper {
  display: block;
  position: relative;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.form-feedback__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #000000;
  padding-top: 27px;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    width: 73px;
    height: 2px;
    background-color: #68b738;
    top: 440px;
    right: 0;
  }
}

.form-feedback__comments-title {
  margin-bottom: 38px;
  &::after {
    content: "";
    position: absolute;
    width: 159px;
    height: 2px;
    background-color: #68b738;
    top: 70px;
  }
}

.form-feedback_list {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.form-feedback__additional {
  position: relative;
}

.form-feedback__contacts {
  position: relative;
}

.form-feedback__contacts-title {
  margin-bottom: 35px;
  &::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: #68b738;
    top: 70px;
  }
}

.form-feedback__textarea {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  border: 1px solid #e7e7e7;
  width: 250px;
  height: 150px;
  resize: none;
  padding: 14px 15px;
  margin: 0;
}

.form-feedback__description {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.form-feedback_button-container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form-feedback__label,
.form-feedback__input {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
  margin-right: 13px;
}

.form-feedback__input {
  padding: 14px 15px;
  border: 1px solid #e7e7e7;
  width: 100%;
}

.form-feedback__label {
  width: 100%;
}

.form-feedback__content {
  display: flex;
  align-items: center;
}

.form-feedback__contacts {
  @media (min-width: $desktop-width) {
    grid-column: span 2;
  }
}

.form-feedback__comments {
  position: relative;

  @media (min-width: $desktop-width) {
    grid-column: span 2;
  }
}

.form-feedback__additional {
  @media (min-width: $desktop-width) {
    grid-column: span 2;
  }
}

.form-feedback__fieldset {
  border: none;
  margin: 0;
}

.form-feedback__item {
  list-style-type: none;
  margin-bottom: 19px;
}

.form-feedback__control {
  position: relative;
}

.form-feedback__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  top: -8px;
  left: -40px;
}

.form-feedback__control-input[type="radio"]:checked + .form-feedback__control-mark::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 9px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}

.form-feedback__control-label {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-transform: uppercase;


}

.form-feedback__comments {
  border: none;
}
