.gift {
  position: relative;
  background-color: #68b738;
  background-repeat: no-repeat;
  width: 280px;
  display: block;
  margin: 0 auto;
  padding-top: 189px;
  padding-bottom: 43px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
                    url("../img/catalog/catalog-cat.jpg");

}

.gift__description {
  width: 161px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;

  &::after {
    content: url("../img/icon_gift.svg");
    position: absolute;
    top: 59px;
    left: 35%;
  }
}
