.main-contacts__label,
.main-contacts__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
  margin-right: 13px;
}

.main-contacts__form {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}
