.main-footer__wrapper {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }
}

.main-footer__image {
  margin-top: 40px;
}
