.main-nav__toogle {
  margin: 0;
  padding: 0;
  margin-left: 65px;
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 21px;
}

.main-nav__item {
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 22px;
}
