.more__title-main {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
  position: relative;
  margin-bottom: 49px;

  &::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: #68b738;
    top: 15px;
    right: -30px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 50px;
  }
}

.more__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    padding: 27px 38px;
    border: 1px solid #cdcdcd;
  }
}

.more__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.more__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #444444;
}

.more__item {
  margin-bottom: 31px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 896px;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.more__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.more__description-container {
  display: flex;
  justify-content: space-between;
}
