.more__title-main {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.more__list {
  list-style-type: none;
}

.more__title {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.more__description {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #444444;
}
