.page-header {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    background-image: url("../img/index-background.jpg"),
                      linear-gradient(90deg, #fff 50%, #64a83b 50%);
    background-position: calc(50% + 360px) center,center;
    background-repeat: no-repeat;
  }
}

.page-header__logo {
  text-decoration: none;
}

.page-header__logo-text {
  margin-left: 56px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__container {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}
