.page-header {
  display: block;
  margin: 0 auto;
}

.page-header__logo-image {
  margin-left: 20px;
  margin-top: 13px;
  margin-bottom: 14px;
}

.page-header__logo-text {
  margin-left: 56px;
  margin-top: 23px;
  margin-bottom: 24px;
}

