.page-header {
  display: block;
  margin: 0 auto;
}

.page-header__logo {
  text-decoration: none;
}

.page-header__logo-text {
  margin-left: 56px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
