.purpose__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.purpose__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.purpose__title {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 30px;
}

.purpose__image {
  padding-top: 21px;
  padding-left: 20px;
  padding-right: 20px;
}

.purpose__description {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin-top: 29px;
  margin-right: 33px;
  margin-left: 20px;
}

.purpose__button {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  padding-bottom: 18px;
}
