.work__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 153px 37px;
    counter-reset: number;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.work__item {
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 230px;
    height: 280px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 94px;
  }
}

.work__item:after {
  @media (min-width: $tablet-width) {
    counter-increment: number 1;
    content: counter(number);
    right: 0;
    top: 0;
    position: absolute;
    font-family: "Oswald";
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }
}

.work__text {
  width: 200px;
  margin-bottom: 24px;
  margin-left: 20px;
  position: relative;
  padding-left: 50px;
}

.work__image {
  background-color: #68b738;
  padding: 15px 17px;
}

.work__wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }
}

.work__title {
  text-align: left;
}

.description-one::before {
  content: url("../img/work-1.svg");
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: 1;
}

.description-two::before {
  content: url("../img/work-2.svg");
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: 1;
}

.description-three::before {
  content: url("../img/work-3.svg");
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: 1;
}

.description-four::before {
  content: url("../img/work-4.svg");
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: 1;
}

.work__text::after {
  content: "";
  position: absolute;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  top: -2px;
  left: -20px;
}
