.work__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 153px 37px;
    counter-reset: number;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.work__item {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 230px;
    height: 280px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 94px;
  }
}

.work__item:after {
  @media (min-width: $tablet-width) {
    counter-increment: number 1;
    content: counter(number);
    right: 0;
    top: 0;
    position: absolute;
    font-family: "Oswald";
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }
}

.work__text {
  width: 200px;
  margin-bottom: 24px;
  margin-left: 20px;
}

.work__image {
  background-color: #68b738;
  padding: 15px 17px;
}

.work__wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }
}
