@import "./blocks/fonts.scss";
@import "./blocks/media.scss";
@import "./blocks/base.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-header.scss";
@import "./blocks/button.scss";
@import "./blocks/purpose.scss";
@import "./blocks/title.scss";
@import "./blocks/description.scss";
@import "./blocks/example.scss";
@import "./blocks/work.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/form.scss";
@import "./blocks/fiter-group.scss";
@import "./blocks/main-title.scss";
@import "./blocks/main-contacts.scss";
@import "./blocks/catalog.scss";
@import "./blocks/more.scss";
@import "./blocks/gift.scss";
@import "./blocks/form-application.scss";
@import "./blocks/social.scss";

